body{
    background:linear-gradient(45deg, rgba(21, 196, 196, .5), rgba(34, 101, 163, .5)), url(https://www.2do2go.ru/uploads/369071b21780b910b5cf437253ac8c9a.jpg);
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
}
table {
    /*border-collapse: collapse;*/
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

/*alignment cell*/
td {
    /*border: 1px solid black;*/
    width: 5%;
    padding-top: 0;
    border-radius: 10%;

}

b {
    font-size:2vw;
}

p {
    font-size:1.5vw;
    margin: 0;
}
.small_right{
    text-align: right;
}
.small_left{
    text-align: left;
}

/*background cell*/
.alkali_red {
    background-color: darkred;
}
.alkaline_earth_orange {
    background-color: orangered;
}
.transition_blue_light {
    background-color: lightskyblue;
}
.post_trans_metal_blue {
    background-color: dodgerblue;
}
.metalloid_green {
    background-color: green;
}
.polyatomic_light_green {
    background-color: cadetblue;
}
.diatomic_yellow {
    background-color: gold;
}
.noble_coral {
    background-color: coral;
}

.lantanides_marine{
    background-color: darkturquoise;
}

.actinides_aqua{
    background-color: darkcyan;
}